/* work sans font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}

/* header style */
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;

}
nav{
    display: flex;
    justify-content: space-between;
}
.nav-tittle{
    font-size: 3rem;
    font-weight: 700px;
    color: #131313;
}
nav >ul{
    display: flex;
    list-style: none;
}

nav li{
    margin-left: 50px;
    font-weight: 600px;
    font-size: 1rem;
}

nav li a{
    text-decoration: none;
    color: #424242;
}

/* banner section */
.banner-content{
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
}

.banner-tittle{
    font-size: 4rem;
    font-weight: 700px;
    color:  #131313 ;
}
.banner-description{
    color: #272727 ;
}
